<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HerokuApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAC96DEC1BD02C8200C08752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC96E081BD02C8200C08752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC96E131BD02C8200C08752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
